body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

    background-color: #E5E5E5;

    color: #434455;
}

.list {
    list-style: none;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Top line */
.top-line {
    background: #FFFFFF
}

.logo {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.code {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.site-nav .link {
    color: #2E2F42;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #404BBF;
}

.site-address .link {
    color: #434455;
}

.site-address .link:hover,
.site-address .link:focus {
    color: #404BBF;
}



/* Main */

/* Section 1 */
.hero {
    background: #2E2F42;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
}

.btn .link:hover,
.btn .link:focus {
    color: #FFFFFF;
    background: #404BBF;
}
.filter-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D5AE5;
    background: #F4F4FD
}


/* Section 2 */
.features {
    background: #FFFFFF
}

.features .title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* Section 3 */
.works-section {
    background: #FFFFFF
}

/* Section 4 */
.team-section {
    background: #F4F4FD;
}


/* Footer */

.footer {
    background: #2E2F42;
}

.logo {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-code {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.comment {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;

}