body {
  font-family: "Roboto", sans-serif;

  background-color: white;

  color: #434455;
  
}

.list {
  list-style: none;
  }

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  color: #2e2f42;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

/* Top line */
.header {
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.code {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.site-nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}

.site-address .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.site-address .link:hover,
.site-address .link:focus {
  color: #404bbf;
}

/* Main */

/* Section 1 */
.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #4D5AE5;
  border-color:#4D5AE5;
}

.button:hover,
.button:focus{
  background-color: #ffffff;
  color: #404bbf;
  border-color: #ffffff;
}

/* Portfolio-seсtion */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: #4d5ae5;
  background: #f4f4fd;
  border-color: #f4f4fd;
  border-radius: 4px;
  }

.filter-btn:hover, 
.filter-btn:focus {
  color: #f4f4fd;
  background: #404bbf;
}

.filter-btn-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
  background: #404bbf;
  border-color: #f4f4fd;
  border-radius: 4px;
}
.filter-btn-active:hover,
.filter-btn-active:focus{
  color:#404bbf;
  background-color: #f4f4fd;
}


/* Section 2 */
.features {
  background: #ffffff;
}

.features .title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
}

/* Section 3 */
.works-section {
  background: #ffffff;
}

/* Section 4 */
.card {
  background: #ffffff;
}
.team-section {
  background: #f4f4fd;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Footer */

.footer {
  background: #2e2f42;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.footer-code {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.comment {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
